h1.title-error404 {
    position: relative;
    border-radius: 2px;
    color: blueviolet;
}


p.title-error404-pharse {
    position: relative;
    color: violet;
}


.contenedor {
    position: relative;
    padding-top: 1.7%;
    padding-left: 12.3%;
}