$color_1: var(--snow);
$color_2: var(--electric-blue);
$color_3: inherit;
$color_4: var(--jet);
$font-family_1: 'Roboto Mono',
monospace;
$background-color_1: var(--jet);



:root {
    --white: #FFFFFF;
    --black: #000000;

    /*exportado de colors.io*/

    /* CSS HEX */
    --jet: #484349ff;
    --snow: #f7f0f0ff;
    --electric-blue: #8af3ffff;
    --persian-green: #18a999ff;
    --shamrock-green: #109648ff;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: calc(30% - 80px);
    padding-bottom: 30px;
    text-align: center;
}


.nav {
    height: 80px;
    width: 100%;
    background-color: var(--jet);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

label.logo {
    color: var(--snow);
    font-size: 35px;
    line-height: 80px;
    padding: 0 90px;
    font-weight: bold;

}



.nav ul {
    float: right;
    position: relative;

    /* margin-right: 20px; */
}

.nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    position: relative;
    width: auto;
}

.nav ul li a {
    color: var(--snow);
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: var(--electric-blue);
    transition: .5s;
}



#dropdown {
    position: absolute;
    list-style: none;
    background-color: var(--jet);
    z-index: 1;
    top: 80px;
    transition: 0.25s;
    visibility: hidden;
}



li:hover #dropdown {
    background-color: var(--jet);
}

#dropdown li a {
    display: block;
    color: var(--snow);
    transition: all 0.25s;

}

li:hover ul#dropdown {
    opacity: 1;
    background-color: var(--jet);
    visibility: visible;
}

#dropdown li {
    float: none;
    width: 100%;
}



.checkbtn {
    font-size: 30px;
    color: var(--snow);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check {
    display: none;
}


@media (max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .nav ul li a {
        font-size: 16px;
    }




}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: var(--jet);
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: var(--electric-blue);
    }

    #check:checked~ul {
        left: 0;
    }
}

.content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}

.content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content .cards .card {
    width: 250px;
    height: 150px;
    background: var(--snow);
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media (max-width: 858px) {}

@media (max-width: 600px) {}












/* footer */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:1200px) {
    footer {
        position: static;
    }

    .footer-distributed {
        background: var(--persian-green);
        box-sizing: border-box;
        widows: 100%;
        text-align: left;
        font: bold 1px 'Roboto Mono', monospace;
        padding: 50px 50px 60px 50px;
        margin-top: 200px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    .footer-distributed .footer-left {
        width: 30%;
    }


    .footer-distributed h3 {
        color: var(--snow);
        font: 36px 'Roboto Mono', monospace;
        margin: 0;
    }

    .footer-distributed h3 span {
        color: var(--electric-blue);
    }


    .footer-distributed .footer-links {
        color: var(--snow);
        margin: 20px 0 12px;
    }

    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }

    .footer-distributed .footer-company-name {
        color: var(--jet);
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    .footer-distributed .footer-center {
        width: 35%;
    }

    .footer-distributed .footer-center i {
        background: var(--electric-blue);
        color: var(--snow);
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }


    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }

    .footer-distributed .footer-center p {
        display: inline-block;
        color: var(--snow);
        vertical-align: middle;
        margin: 0;
    }


    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }

    .footer-distributed .footer-center p a {
        color: var(--jet);
        text-decoration: none;

    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: var(--snow);
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }


    .footer-distributed .footer-company-about span {
        display: block;
        color: var(--jet);
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .footer-distributed .footer-icons {
        margin-top: 20px;
    }


    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background: var(--electric-blue);
        border-radius: 2px;
        font-size: 20px;
        color: var(--jet);
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;

    }

    .footer-links a:hover {
        color: var(--jet);
    }
}

@media (max-width:600px) {

    .footer-distributed .footer-links,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}